table,th,td{
    border : 2px solid black;
}
th{
    background-color:rgb(228, 228, 163);
    padding:10px;
    color:rgb(77, 7, 56);
}
td{
    padding:10px;
    background-color:rgb(248, 221, 171);
    color:rgb(1, 26, 12);
}
table{
    border-collapse:collapse;
    width:70%;
    margin:auto;
    padding:40px;
    background-color: white;
}
div{
    padding:40px;
    background-color:black;
}
